<%= form_for :user, url:loginresult_path  do |f| %>
<h1 style="text-align: center;">Login to your page</h1>
<div style="text-align: center;">

     <p><%= f.label :email %>
   <%= f.text_field :email %>

      <p><%= f.label :password %>
   <%= f.password_field :password %><br/>

   <p><%= f.submit "login" %></p>
 </div>
<% end %></p>