<%= form_for :user, url:users_path do |f| %>
<% if @user.errors.any? %>
	<% @user.errors.full_messages.each do |msg| %> 
	<li><%= msg %></li>
	<% end %>
	<% end %>
<h1 style="text-align: center;">Registration!</h1>
<div style="text-align: center;">
	
	<p><%= f.label "FirstName" %>
	<%= f.text_field :firstname %>

	<p><%= f.label "LastName" %>
	<%= f.text_field :lastname %>

	<p><%= f.label :avatar %>
	<%= f.file_field :avatar %>	

	<p><%= f.label "Phone" %>
	<%= f.text_field :phone %>

	<p><%= f.label "Gender" %>
	<%= f.select :gender, ['male','female'] %>

	<p><%= f.label "Age" %>
	<%= f.text_field :age %>

	<p><%= f.label "Country" %>
	<%= f.text_field :country %>

	<p><%= f.label "City" %>
	<%= f.text_field :city %>

	<p><%= f.label "Street" %>
	<%= f.text_field :street %>

	<p><%= f.label "Your link" %>
	<%= f.text_field :link %>

	<p><%= f.label :email %>
	<%= f.text_field :email %>

	<p><%= f.label :password %>
	<%= f.password_field :password %><br />



<p><%= f.submit "save" %> | <%= link_to "GO BACK", root_path %>
</div>
<% end %>