<%= link_to "HOME", root_path %>
<h1 style="text-align: center;">WELCOME, <%= @user.firstname %>!</h1>
<p style="text-align: center; color: red;">This page contains some informations about you</p>
<p style="text-align: center;"><%= image_tag @user.avatar.url (:medium) %></p><br />
<p style="text-align: center;"><b><%= @user.firstname %></b> <b><%= @user.lastname %></b> - <%= @user.age %> old </br> </p>

<p style="text-align: center;">
	<b><span>Your email: </span></b> <span style="font-style: italic;"><%= @user.email %></span><br/>
	<b><span>Your phone: </span></b> <span style="font-style: italic;"><%= @user.phone %></span><br/>
	<b><span>Your country: </span></b> <span style="font-style: italic;"><%= @user.country %></span><br/>
	<b><span>Your city: </span></b> <span style="font-style: italic;"><%= @user.city %></span><br/>
	<b><span>Your street: </span></b> <span style="font-style: italic;"><%= @user.street %></span><br/>
	<b><span>Your website: </span></b> <span style="font-style: italic;"><%= @user.link %></span><br/>
	<b><span>You are: </span></b> <span style="font-style: italic;"><%= @user.gender %></span><br/>
</p>


<br/><p style="text-align: center;"><%= link_to "EDIT PROFILE", edit_user_path %> | <%= link_to "EXIT", user_path(@user.id), method: :delete %></p>